<nav class="navbar navbar-default" role="navigation" id="navbar" [ngClass]="{'fixednav':fixed,'fadesh':fixed}">
    <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo">
                <img src="../../assets/images/modules/header/pixel-eye-logo.png" routerLink="/">
            </a>
        </div>
        <div class="collapse navbar-collapse pull-right" id="navigationbar">
            <ul class="nav navbar-nav navbar-right">
<!--         
                <li class="list-item animated fadeIn">
                    <a routerLinkActive="active-link" routerLink="/home">HOME</a>
                </li> -->
                <li class="list-item animated fadeIn">
                    <a routerLinkActive="active-link" routerLink="/about">ABOUT</a>
                </li>
                <li class="list-item animated fadeIn">
                    <a routerLinkActive="active-link" routerLink="/products">PRODUCTS & SERVICES</a>
                </li>
                <li class="list-item animated fadeIn">
                    <a routerLink="/works" routerLinkActive="active-link">PORTFOLIO</a>
                </li>
                <li class="list-item animated fadeIn">
                    <a routerLink="/team" routerLinkActive="active-link">OUR TEAM</a>
                </li>
                <li class="list-item animated fadeIn">
                    <a routerLink="/contacts" routerLinkActive="active-link">CONTACTS</a>
                </li>
                <li class="list-item facebook">
                    <a routerLink="/facebook"><img src="/assets/images/facebook.svg"></a>
                </li>
                <li class="list-item facebook">
                    <a routerLink="/facebook"><img src="/assets/images/linkedin.svg"></a>
                </li>
                <li class="list-item facebook">
                    <a routerLink="/facebook"><img src="/assets/images/twitter.svg"></a>
                </li>
                <!-- <app-modalpopup></app-modalpopup> -->
            </ul>
        </div>
    </div>
</nav>