<div class="bg">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 head">
                                  <p>WE <span style="color:#50e3c2;">ARE</span></p>
                                <div class="para">
                                    <p>The Pixel Eye Studios are a team of highly experienced professionals,
                                        <br> who will build products on Gaming, VR, AR, 3D Animations and VFX. We
                                         <br> work with the latest and powerful tools like Unity Game Engine, Autodest Maya,
                                         <br>  Fusion, Nuke, to build our products and willprovide world class services to
                                      <br> our clients to build the product.
                                    </p>
                                </div>
                                <div class="para1">
                                    <p>Coming as the product company of Digital Lync, we maintain the
                                        <br> quality in our services and maintain the efficiency in our
                                        <br> work to carry the brand name of Digital Lync.</p>
                                </div>
                                <hr>
                                <div class="creative hidden-xs">
                                    <p>GAME DEVELOPMENT</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>