<!-- <p>
  getintouch works!
</p> -->
<section id = "getintouch">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <h2>GET IN</h2>
          <h3 class="touch">TOUCH</h3>
          <div class="contact text-center hidden-sm">
            <h3 >CONTACTS</h3>
          </div> 
          <div class="details ">
            <h3>EMAIL</h3>
            <h4>radhakrishna2116@gmail.com</h4>
            </div>
            <div class="phn">
            <h3 >PHONE</h3>
            <a href="tel:+91 9949114207">+91 9949114207</a>
          </div>
          <div class="copyrighhts"><span><p>Pixel Eye Studios© 2018. Design by <a>45Friday</a>.</p></span> </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-8" style="margin: auto; padding-top:140px;">
            <form role="form">
                <div class="form-group inputs">
                    <label for="">Name</label>
                    <input type="email" class="form-control" placeholder="Name">
                </div>
                <div class="form-group inputs">
                    <label for="">Email</label>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group message">
                    <label for="">Textarea</label>
                    <textarea class="form-control" placeholder="Textarea" rows="1"></textarea>
                </div>
                <div class="btn">
                    <button type="submit" (click)="onSubmit()" style=" width: 87px;height: 32px;border-radius: 26px;border: solid 1px #4a4a4a; background-color: #fff">SEND </button>
                  </div>
            </form>
            </div>
      </div>
      </div>
    </div>
  </div>
</section>
          

        
