<div class="bg">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 head">
                                <p>WE <span style="color:#50e3c2;">DO</span></p>                            
                            <div class="para">
                                <p>The Pixel Eye studios build products and
                                    <br> provide services to our Client companies on building games,
                                    <br>  VR/AR apps, 3D Models, Animations & VFX. We deliver
                                    <br>  the Highest Quality products & Services, Timeliness and
                                    <br>Value in evreything that we do.
                                </p>
                            </div>
                            <hr>
                            <div class="creative hidden-xs">
                                <p>SERVICES</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 data">
                                <div class="col-md-12">
                                    <img src="../../assets/images/modules/landingpage/wedo/gaming.png">
                                    <h4>GAMING & VR / AR</h4>
                                    <hr>
                                    <p>The Pixel Eye developers use the powerfull Unity Game Engine
                                        <br> to build 2D,3D games on Mobile, PC/Mac,console and will build
                                        <br> the applications on Virtual Reality and Augmented Reality using Unity.
                                    </p>
 
                                    <img src="../../assets/images/modules/landingpage/wedo/3d-animation.png">
                                    <h4>3D,ANIMATIONS & VFX</h4>
                                    <hr>
                                    <p>The Pixel Eye team will support our clients from concepts to full production, our professional
                                        modelers,texture artists, illustrators, VFX artists and animators will produce the
                                        finest art assets on mobile,PC/Mac and console games using the tools like Autodesk
                                        Maya, Fusion, Nuke.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>