<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        
      <div class="row">
          
      <div class="image">
        
        <div class="part2 col-xs-12">
            <p>WORKS</p>
          </div>
          <div class="hidden-xs">
              <img src="../../assets/images/modules/landingpage/portfolio/portfolio.png">
          </div>
         
       
      </div>
      </div>
    </div>
    <div class="col-md-6 images">
      <div class="row">
      <div class="col-md-6 images1">
        <img src="../../assets/images/modules/landingpage/portfolio/space-war.png">
        <div class="overlay">
          <div class="text">
            <h2>Space War</h2>
            <p>Android</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 images2">
          <img src="../../assets/images/modules/landingpage/portfolio/game-over.png">
          <div class="overlay1">
            <div class="text">
              <h2>Zombie Apocalypse VR</h2>
              <p>Oculus</p>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6 images3">
            <img src="../../assets/images/modules/landingpage/portfolio/arrow.png">
            <div class="overlay2">
              <div class="text">
                <h2>Arrow Vr</h2>
                <p>Oculus</p>
              </div>
            </div> 
          </div>
          <div class="col-md-6  images4">
              <img src="../../assets/images/modules/landingpage/portfolio/zoombie.png">
              <div class="overlay3">
                <div class="text">
                  <h2>Barbarian AR</h2>
                  <p>Android</p>
                </div>
              </div>
            </div>
            </div>
    </div>
  </div>
  
</div>