<div class="image">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
      <div class="col-md-12">

        <div class="col-md-6">
          <div class="part1 hidden-xs">
            <h1>OUR
              <br>
              <h2>TEAM</h2>
            </h1>
            <p>We are a team of most dedicated and passionate professionals that includes full-time 3D,VFX Experts and Game developers. Our team is our greatest asset and we believe in delivering 
                quality service to our Clients and maintain the timeliness and value in what we do.
            </p>
          </div>
          <hr>

          <div class="part2 text-right">
            <p>TEAM</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 images">
            <div class="col-md-5 images1">
            <img src="../../assets/images/modules/landingpage/ourteam/radha.png">
            <div class="overlay">
                <div class="text">
                  <h1> K.Radha Krishna</h1>
                  </div>
                  <div class="text">
                  <h2>Gaming,VR,AR Developer</h2>
                  </div>
               
              </div>
            </div>
            <div class="col-md-5 images2">
            <img src="../../assets/images/modules/landingpage/ourteam/suresh.png">
            <div class="overlay1">
                <div class="text">
                  <h1>Suresh</h1>
                </div>
                <div class="text">
                  <h2>3D Animator</h2>
                </div>
              </div>
            </div>

            <div class="col-md-5 images3">
            <img src="../../assets/images/modules/landingpage/ourteam/salman.png">
            <div class="overlay2">
                <div class="text">
                  <h1>Salman Mohsin</h1>
                </div>
                <div class="text">
                  <h2>3D Artist</h2>
                </div>
              </div> 
            
            </div>
            <div class="col-md-5 images4">
             <img src="../../assets/images/modules/landingpage/ourteam/bablu.png">
             <div class="overlay3">
                <div class="text">
                  <h1>K.Bachu Reddy</h1>
                </div>
                <div class="text">
                  <h2>Game Artist</h2>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>